language: python

install:
     - sudo dpkg -i binaries/hugo*.deb
     - pip install Pygments

before_script:
    if [ -d "/public" ]; then
    rm -rf /public && echo "Old public dir deleted ..."
    fi
    if [ ! -f ".gitignore"]; then
    touch .gitignore
    fi  

script:
    - hugo 

after_success: |
    - if [ -n "$GITHUB_API_KEY" ] then
    git checkout --orphan master
    - if [ $? -eq 0 ] then echo "master branch created"
    fi
    - echo "/public" >> .gitignore
    if [ $? -eq 0 ]; then echo "Added public dir to .gitignore"
    - git rm -rf .
    - echo "list of files and dirs :"
    - echo $(ls -la)
    - mv public/* ../
    - rm -rf public 
    - echo "list of files and dirs after deleting public/ :"
    - echo $(ls -la)
    - git add -f --ignore-errors --all
    - git -c user.name='travis' -c user.email='travis' commit -m init
    - git push -f -q https://$GITHUB_USER:$GITHUB_API_KEY@github.com/$TRAVIS_REPO_SLUG master
    fi