language: python

install:
     - sudo dpkg -i binaries/hugo*.deb
     - pip install Pygments

before_script: |
    if [ -d "/public" ]; then
    rm -rf /public && echo "Old public dir deleted ..."
    fi
 

script:
    - hugo 

after_success: |
    if [ -n "$GITHUB_API_KEY" ]; then
    git checkout --orphan master
    echo $(ls)
    touch .gitignore
    echo "/public" >> .gitignore
    git rm -rf .
    echo "after git rm ."
    echo $(ls)
    mv public/* .
    rm -rf public hugo_*
    git add -f --ignore-errors --all
    git -c user.name='travis' -c user.email='travis' commit -m init
    git push -f -q https://$GITHUB_USER:$GITHUB_API_KEY@github.com/$TRAVIS_REPO_SLUG master
    fi